.constant {
  font-weight: bold;
  color: #cc5500;
}

.variable {
  font-weight: bold;
  color: #cc5500;
}



.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}

.center {
  vertical-align:10px;
}

.no-select {
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

.hoverGrey {
  background-color: #ffffff;
}

.hoverGrey:hover {
  background-color: #e6e6e6;
}

.page {
  page-break-after: always;
}